.list_title{
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}

.inital_msg{
  width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

.success_msg{
  width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}

