.list_title{
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}

.centralize_msg{
  width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

.success_msg{
  width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}

.custom_table{
	margin-right: 4%; 
	margin-top: 2%; 
	width: 85%
}

